.header{
    z-index: 100;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*background-color: rgb(27, 26, 26);*/
    background-color: rgb(18, 18, 18);
}



/*************************************      Left section     *************************************/
.left-section{
    display: flex;
    align-items: center;
    padding: 0 18px;
    gap: 15px
}

.material-symbols-outlined.header-icon {
    font-size: 26px;
    cursor: pointer;
}

.hamburger-icon{
    border-radius: 50%;
    padding: 8px;
    transition: background-color 0.2s;
}
.hamburger-icon:hover{
    background-color: rgb(43, 42, 42);
}

.youtube-icon{
    width: 120px;
    height: 60px;
    cursor: pointer;
}



/*************************************      Middle section     *************************************/
.middle-section{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 60px;
    margin-right: 60px;
    max-width: 650px;
    gap: 16px;
}

.search{
    flex:1;
    display: flex;
    position: relative;
}

.search-bar{
    box-sizing: border-box;
    padding: 10px 50px 10px 16px;
    width: 100%;
    height: 48px;
    font-size: 16px;
    background-color: black;
    border: 1px solid rgb(57, 55, 55);
    border-radius: 999px;
    color: white;
    outline: none;
}

.search-bar:focus{
    border-color: rgb(100, 100, 100);
}

.search img{
    position: absolute;

    right: 7px;
    top: 50%;
    transform: translateY(-50%); 

    height: 26px;
    width: 26px;

    padding: 8px;

    background-color: rgb(45, 45, 45);
    border-radius: 50%;

    cursor: pointer;
    transition: background-color 0.2s;
}

.search img:hover{
    background-color: rgb(60, 60, 60);
}

@media (max-width: 700px) {
    .search-bar{
        display: none;
    }
}

.mic-section{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.microphone{
    background-color: rgb(43, 42, 42);
    padding: 8px;
    border-radius: 50%;
}

.description, .tooltip{
    position: absolute;

    top: 60px;
    left: 50%;
    transform: translateX(-50%);

    background-color: rgba(100, 100, 100, 0.9);
    color:white;

    padding: 10px 12px;
    border-radius: 8px;

    font-family: Roboto, Arial;
    font-size: 14px;
    white-space: nowrap;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.20s;
}

.mic-section:hover .description{
    opacity: 1;
}




/*************************************      Right section     *************************************/
.right-section{
    display: flex;
    align-items: center;
    gap: 16px;
    color:white;
    margin-right: 20px;
    flex-shrink: 0;
}

.plus-create{
    height: 40px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    background-color: rgb(43, 42, 42);
    gap: 8px;
    padding: 0 14px;
    cursor: pointer;
    font-size: 16px;
}

.plus-create:hover{
    background-color: rgb(60, 59, 59);
}

.create-p{
    margin: 0;
}

.bell-container{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}
.bell-pic{
    padding: 8px;
    border-radius: 50%;
}
.bell-pic:hover{
    background-color: rgb(43, 42, 42);
}

.bell-container:hover .tooltip{
    opacity: 1;
}

.zuko-pic{
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}
